/* Navbar Start */
/* .custom-navbar {
    position: fixed !important;
    width: 100%;
    height: 64px;
} */

.justify-navbar {
    display: flex;
    justify-content: space-between;
}

.list-notification {
    /* align-items: self-end !important; */
    word-wrap: break-word !important;
    white-space: pre-wrap !important;

}

@media only screen and (max-width: 400px) {
    .center-notif {
        left: 50% !important;
        width: 100vw;
        transform: translate(-54.2%, 0) !important;
    }
}
/* Navbar End */