@font-face {
  font-family: "Helvetica";
  src: url('./assets/fonts/Helvetica.ttf');
}

* {
  font-family: Helvetica !important;
}

body {
  background-color: #eeeeee !important;
}

.color-primary {
  color: #1F305C !important;
}

.disable-link-style {
  color: #000000 !important;
  text-decoration: none !important;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 24px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1F305C;
  border-radius: 24px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1F305C;
}

/* ==================== */
/* GLOBAL CSS COMPONENT */
/* ==================== */

/* ========= BUTTON ======== */

.button-outlined-primary {
  border: 1px solid #1F305C !important;
  color: #1F305C !important;
  font-weight: bold !important;
}

.button-outlined-primary:hover {
  background-color: #1F305C !important;
  color: #ffffff !important;
  border: 1px solid #1F305C !important;
  font-weight: bold !important;
}

.button-outlined-danger {
  border: 1px solid #D32F2F !important;
  color: #D32F2F !important;
  font-weight: bold !important;
}

.button-outlined-danger:hover {
  background-color: #D32F2F !important;
  color: #ffffff !important;
  border: 1px solid #D32F2F !important;
  font-weight: bold !important;
}

/* ========= BUTTON ======== */


/* =================== */
/* OVERWRITE MUI STYLE */
/* =================== */